.logo{
    vertical-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.center-item{
    margin-left: 12.5%;
    margin-right: 12.5%;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}