.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
.center-item{
    margin-left: 25%;
    margin-right: 25%;
}

.navbar{
    border-radius: 10px;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}