<div class="main">
  <button *ngIf="isAdmin" class="btn btn-success float-right" (click)="addCategory()">New category</button>
  <div *ngFor="let category of Categories">
    <div class="header">
      <a routerLink='/category/{{category.id}}' routerLinkActive='active' class="catA">
        <h2>{{category.Title}}</h2>
        <p>{{category.Description}}</p>
      </a>
    </div>
    <table class="table table-striped table-dark">
      <tbody>
        <tr *ngFor="let subcat of category.SubCats">
          <td>
            <div>
              <a routerLink="/subCategory/{{subcat.id}}" routerLinkActive="active">
                <p>{{subcat.Title}}</p>
                <p>{{subcat.Description}}</p>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>