<div *ngIf="Thread">
  <h2>{{Thread.title}}</h2>
  <div *ngFor="let post of Thread.posts | slice:start:end;index as i" class="card text-white bg-dark">
    <div class="card-header">
      <p>{{post.time}}</p>
    </div>
    <div class="card-body d-flex flex-row">
      <div class="w-25">
        <b>{{post.poster.username}}</b>
      </div>
      <div class="w-75">
        <div>
      <p class="card-text">{{post.content}}</p>
      </div>
      <div *ngIf="isAdmin">
        <img src="../../../assets/delete.png" (click)="deletePost(i)" class="icon">
        <img src="../../../assets/edit.png" (click)="editPost(i)" class="icon">
      </div>
      </div>
    </div>
  </div>
  <div>
    <form [formGroup]='newpost' (ngSubmit)='onNewPost()'>
      <textarea class="w-100 form-control" formControlName="post"></textarea>
      <p *ngIf="newpost.get('post').errors?.minlength" class="text-danger">A post has to be atleast 10 characters</p>
      <button class="btn">Submit</button>
    </form>
  </div>
  <ngb-pagination [(page)]="page" aria-label="Default pagination" [collectionSize]="PostCount"></ngb-pagination>       
</div>
