<div *ngIf="article" class="main">
  <img [src]="getimage()" class="articleImg">
  <h1 class="articleTitle">{{article.Title}}</h1>
  <b>{{article.Summary}}</b>
  <p class="articleText">{{article.Content}}</p>
  <table class="table table-dark">
    <tbody>
      <tr *ngFor="let comment of article.comments"> 
        <td>{{comment.user.username}}</td>
        <td>{{comment.content}}</td>
      </tr>
    </tbody>
  </table>
  <form [formGroup]='newComment' (ngSubmit)='onSubmit()' *ngIf="(loggedIn | async) else login">
    <input type="text" class="form-control" formControlName="comment">
    <button class="btn btn-primary">Submit</button>
  </form>
  <ng-template #login>
    <div>
      <p>You need to be logged in to comment. <a routerLink="/login" routerLinkActive="active">Log in or register here</a></p>
    </div>
  </ng-template>
</div>