<div *ngIf='category' class="main">
  <button *ngIf="isAdmin" class="btn btn-success float-right" (click)='addSubCat()'>Add subcategory</button>
  <h1>{{category.Title}}</h1>
  <p>{{category.Description}}</p>
  <div *ngFor='let subCat of category.SubCats'>
    <div class="header">
    <a routerLink="/subCategory/{{subCat.id}}" routerLinkActive="active">
    <h2 class="hHeader">{{subCat.Title}}</h2>
    <p class="pHeader">{{subCat.Description}}</p>
    </a>
    </div>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>Thread</th>
          <th>Last post by</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let thread of subCat.threads'>
          <td>
            <div>
              <a routerLink="/thread/{{thread.id}}" routerLinkActive='active'>
                <b>{{thread.title}}</b></a>
                <p>Created by <a routerLink="/profile/{{thread.creator.username}}" routerLinkActive="active">{{thread.creator.username}}</a></p>
                <p>Last posted at {{thread.lastPostTime}}</p>
            </div>
          </td>
          <td>
            <div>
              <a routerLink="/profile/{{thread.lastPost.username}}" routerLinkActive="active">
              <b>{{thread.lastPost.username}}</b>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>