<div *ngIf="subCategory" class="main">
  <button class="btn btn-success float-right" (click)="newThread()">New Thread</button>
  <div class="header">
  <h1>{{subCategory.Title}}</h1>
  <p class="pHeader">{{subCategory.Description}}</p>
  </div>
  <table class="table table-striped; table-dark">
    <thead>
      <tr>
        <th>Thread</th>
        <th>Last post by</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let thread of subCategory.threads | slice:startThread:endThread">
        <td>
          <div>
            <a routerLink="/thread/{{thread.id}}" routerLinkActive='active'>
              <b>{{thread.title}}</b></a>
              <p>Created by <a routerLink="/profile/{{thread.creator.username}}" routerLinkActive="active">{{thread.creator.username}}</a></p>
              <p>Last posted at {{thread.lastPostTime}}</p>
            
          </div>
        </td>
        <td>
          <div>
            <a routerLink="/profile/{{thread.lastPost.username}}" routerLinkActive="active">
              <b>{{thread.lastPost.username}}</b>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [(page)]="page" aria-label="Default pagination" [collectionSize]="ThreadCount" class="pagination"></ngb-pagination>     
  </div>