<div class="main">
  <h1>Settings</h1>
  <h3>Let us know a thing or 2 about you.</h3>
  <form [formGroup]="settings" (ngSubmit)="onSave()">
    <div class="form-group">
      <label for="username">Bio: </label>
      <textarea placeholder="Tell us about yourself" formControlName="bio" class="form-control"></textarea>
    </div>
    <div class="row">
      <div class="col">
        <label for="location">Location: </label>
        <input placeholder="Location" type="text" id="location" formControlName="location" class="form-control">
      </div>
      <div class="col">
        <label for="birthdate">Birthdate: </label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="birthdate" ngbDatepicker #d="ngbDatepicker" formControlName="birthdate">
          <button class="input-group-addon" (click)="d.toggle()" type="button">
            <img src="../../../assets/calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>